@use "./tokens";

@use "../features/profiles/styles/_profile-header";
@use "../features/profiles/styles/_profile-edit-form";

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body), var(--font-fallback);
}

h1,
.logo,
.brand {
  font-family: var(--font-brand), var(--font-fallback);
}


// Temp  css  stuff  ** REMOVE LATER ***  //

.post-card__comments,
.post-card__action,
.comment-item__action,
.profile-header__edit,
.profile-header__meta-item,
.back-link {
  display: inline-flex;
  align-items: center;
  gap: 0.35rem;
}

// END TEMP //