.app-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  &__mark {
    display: flex;
    align-items: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='100' height='100' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' viewBox='0 0 4099.99 4099.99'%3E%3Cdefs%3E%3Cstyle%3E .fil0%7Bfill:%23ed3237%7D.fil1%7Bfill:%23fff%7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_x0020_1'%3E%3Ccircle cx='2050' cy='2050' r='145.48' class='fil0'/%3E%3Cpath d='M1927.88 4050v-917.21c40.27 6.04 80.54 9.67 122.56 9.67 41.15 0 82.29-3.63 122.56-9.67V4050zm0-3081.79V50h244.24v918.21c-40.27-6.05-80.54-9.68-122.56-9.68-41.15 0-82.29 3.63-122.56 9.68z' class='fil1'/%3E%3Cpath id='_2905657595744' d='M403.04 2334.57c119.21 694.64 667.74 1242.28 1362.38 1362.38v-209.74C1184.61 3372.49 727.5 2915.37 612.77 2334.56H403.03zM1765.43 403.04C1070.79 522.25 523.15 1070.78 403.05 1765.42h209.74C727.51 1184.61 1184.63 727.5 1765.44 612.77V403.03zm1931.53 1362.39c-119.21-694.64-667.74-1242.28-1362.38-1362.38v209.74c580.81 114.72 1037.92 571.84 1152.65 1152.65h209.74zM2334.57 3696.96c694.64-119.21 1242.28-667.74 1362.38-1362.38h-209.74c-114.72 580.81-571.84 1037.92-1152.65 1152.65v209.74z' class='fil1'/%3E%3Cpath id='_2860753537312' d='M751.43 2350.4c114.48 494.83 503.35 883.69 998.18 998.18v-156.11c-410.63-107.86-734.2-431.44-842.06-842.06H751.44zm998.16-1598.97c-494.83 114.48-883.69 503.35-998.18 998.18h156.11c107.86-410.63 431.44-734.2 842.06-842.06V751.44zm1598.98 998.16c-114.48-494.83-503.35-883.69-998.18-998.18v156.11c410.63 107.86 734.2 431.44 842.06 842.06h156.11zM2350.4 3348.57c494.83-114.48 883.69-503.35 998.18-998.18h-156.11c-107.86 410.63-431.44 734.2-842.06 842.06v156.11z' class='fil0'/%3E%3Cpath d='M2265.14 2303.61v522.11l246.63-203.77v-474.89h337.58v-211.65h-337.58v-186.28h396.18v-238.76H1192.94v238.76h278.11v871.94l246.63 203.77V1748.25h190.65c42.85-20.11 90.96-31.48 141.68-31.48 183.66 0 332.33 148.68 332.33 332.33 0 101.45-45.48 192.41-117.19 253.62v.87l-.02.02zM50 1927.88h917.21c-6.04 40.27-9.67 80.54-9.67 122.56 0 41.15 3.63 82.29 9.67 122.56H50zm3081.79 0H4050v244.24h-918.21c6.05-40.27 9.68-80.54 9.68-122.56 0-41.15-3.63-82.29-9.68-122.56z' class='fil1'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    min-height: 50px;
    width: 50px;
    background-size: contain;
    background-position: center;
  }

  &__text {
    font-family: var(--font-brand);
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;
  }
}

@media (min-width: 68.75rem) {
  .app-logo {
    flex-direction: column;
    align-items: center;
    &__text {
      font-size: 1.5rem;
    }
    &__mark {
      width: 75px;
      aspect-ratio: 1 / 1;
    }
  }
}
